@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <iframe src="/TodoPortlet/Index" frameborder="1" style="height: 340px; width: 100%; border: solid; border-color: black;"></iframe>
    </div>
</div>


